{% extends "base.html.twig" %} {# Extends the "base" file witch contains the header, the navbar, the footpage for exemple. #}
{% block title %}Information sur les galaxies{% endblock %}

{% block body %}
    <main class="container mt-5">
        <p>
            Une galaxie est une structure cosmique formée par le rassemblement — sous l'effet de la gravitation — d'étoiles et de leurs planètes éventuelles, de gaz, de poussière interstellaire, peut-être essentiellement de matière noire, et contenant souvent un trou noir supermassif en son centre. Les galaxies peuvent elles-mêmes se rassembler — toujours par l'effet de la gravitation — en groupes de galaxies, eux-mêmes pouvant se structurer en amas et superamas de galaxies.
        </p>
        <img src="/images/galaxy2.jpg" class="image me-4" alt="Ciel étoilé" style="width: 20%">
        <p>
            La Voie lactée, ou la Galaxie (avec une majuscule), c'est-à-dire la galaxie dans laquelle se trouve le Système solaire, compte quelques centaines de milliards d'étoiles (1011)1,2 et a une extension de l'ordre de 80 000 années-lumière. Un rapport de la mission spatiale européenne Gaia a rendu publique, le 25 avril 2018, la position de 1 692 919 135 étoiles de notre galaxie, ce qui représente moins de 1 % de la totalité de ses étoiles3. La plupart des galaxies typiques comportent un nombre similaire d'astres, mais les galaxies naines comptent à peu près une dizaine de milliards d'étoiles (1010)1 et des galaxies géantes comptent plusieurs milliers de milliards d'étoiles (1012). Sur la base de ces chiffres et de la taille de l'univers observable, on estime que celui-ci compte quelques centaines de milliards de galaxies de masse significative. La population de galaxies naines est cependant très difficile à déterminer, du fait de leur masse et de leur luminosité très faibles. Il pourrait donc contenir jusqu'à 2 000 milliards de galaxies, mais cela ne pourra être confirmé qu'avec les observations des futurs télescopes (tel le Télescope géant européen ou le Télescope de Trente Mètres)4.
        </p>
        <p>
            Les galaxies en tant que systèmes stellaires de grande taille ont été mises en évidence dans le courant des années 1920, principalement par l'astronome américain Edwin Hubble, bien que des premières données indiquant ce fait remontent à 1914. Les galaxies sont de trois types morphologiques principaux : elliptiques, spirales, irrégulières. Une description plus étendue des types de galaxies a été donnée à la même époque par Hubble et est depuis nommée séquence de Hubble.
        </p>
        <p>
            Toutes les étoiles ne font pas partie de galaxies. S'il semble établi que c'est au sein des galaxies que se forment les étoiles, celles-ci sont susceptibles d'en être expulsées, soit du fait d'interactions entre galaxies, soit du fait de rencontres rapprochées entre une étoile et un astre très massif, tel un trou noir supermassif situé au centre d'une galaxie. On observe ainsi certaines étoiles dotées d'une vitesse élevée par rapport à leur galaxie, signe qu'elles n'y sont plus liées gravitationnellement. De telles étoiles sont de ce fait appelées « étoiles en fuite ». Plusieurs représentantes de cette classe sont connues, telles SDSS J090745.0+024507 et GRO J1655-40, toutes deux en train de quitter la Voie lactée. La première est probablement issue d'une rencontre rapprochée avec son trou noir central, Sgr A*, la seconde est sans doute issue d'une supernova asymétrique dont le résidu compact a été expulsé de la région où l'explosion a eu lieu.
        </p>
    </main>
{% endblock %}