{% extends "base.html.twig" %}


{% block body %}
    <main class="container mt-5">    
        <h1>My Lucky Star</h1> <br> <br>
        <p>Les étoiles sont d'immenses corps célestes composés principalement d'hydrogène et d'hélium, la lumière et la chaleur qu'elles produisent proviennent des réactions nucléaires qui se déroulent en son centre. Exception faite de notre soleil, les points lumineux révélés par la nuit dans le ciel sont tous situés à des années-lumière de la Terre. Ils sont la pierre angulaire des galaxies et l'univers en compte des milliards. Il est impossible de connaître le nombre exact d'étoiles, mais les astronomes estiment qu'il y en aurait environ 300 milliards dans notre galaxie, la Voie lactée.</p> <br> <br>
        <div class="d-flex justify-content-around">

            <div class="card mb-3 w-30 mx-1 ">
                <h3 class="card-header text-bg-dark p-3">L'univers</h3>
                <div class="card-body">
                    <h5 class="card-title">Contient les galaxies</h5>
                    <h6 class="card-subtitle text-muted">Sa taille est impossible à estimer</h6><br>
                </div>
                <img src="../../images/universe.jpeg" class="d-block user-select-none md image" width="100%" height="200">
                
                <div class="card-body">
                    <p class="card-text">Il contient des milliards de galaxies rien que dans l'espace qu'il nous est possible d'observer.</p>
                </div>
                <div class="card-body">
                    <a href="{{path('app_universe')}}" class="card-link">En savoir plus</a>
                </div>
            </div>

            <div class="card mb-3 w-30 mx-1">
                <h3 class="card-header text-bg-dark p-3">Les galaxies</h3>
                <div class="card-body">
                    <h5 class="card-title">Contiennent les étoiles</h5>
                    <h6 class="card-subtitle text-muted">Leur taille varie de quelques dizaines à plusieurs centaines d'années lumière.</h6>
                </div>
                <img src="../../images/galaxy.jpg" class="d-block user-select-none md image" width="100%" height="200">
                <div class="card-body">
                    <p class="card-text">La voie lactée, notre galaxie contient plusieurs centaines de milliard d'étoiles et mesure plus de cent mille années lumière.</p>
                </div>
                <div class="card-body">
                    <a href="{{path('app_galaxy')}}" class="card-link">En savoir plus</a>
                </div>
            </div>

            <div class="card mb-3 w-30 mx-1">
                <h3 class="card-header text-bg-dark p-3">Les étoiles</h3>
                <div class="card-body">
                    <h5 class="card-title">Attirent autour d'elles des planètes</h5>
                    <h6 class="card-subtitle text-muted">Le soleil, notre étoile est considéré comme une petite étoile, elle regroupe 8 planètes.</h6>
                </div>
                <img src="../../images/star.jpg" class="d-block user-select-none md image" width="100%" height="200">
                <div class="card-body">
                    <p class="card-text">Chaque étoile est unique et regroupe son propre système solaire avec ses planètes, ses lunes, ses astéroides, ses comètes...</p>
                </div>
                <div class="card-body">
                    <a href="{{path('app_solar_system')}}" class="card-link">En savoir plus</a>
                </div>
            </div>

        </div>
    </main>
{% endblock %}