{% extends "base.html.twig" %}

{% block body %}
    <main class="container mt-5">
        <p>
            Notre univers ne se limite pas à la Voie lactée ! Mais alors, quelle est sa taille ? Est-il fini ou infini ? Pour répondre à ces questions, revenons sur ce que nous savons.
        </p>
        <p>
            La théorie de la relativité générale d'Einstein nous a appris que l'espace-temps pouvait se déformer comme une membrane élastique.
            La théorie du Big Bang, bien confirmée par l'expérience et découlant de la théorie d'Einstein, nous indique que l'espace est en expansion.
            Cette théorie est compatible avec l'idée que notre univers est une sorte de bulle de taille finie qui gonfle, mais aussi avec l'idée que cet univers était déjà de taille infinie au moment où a commencé son expansion.
        </p>
        <p>
            Cette dernière idée semble paradoxale mais elle est mathématiquement cohérente. On peut aussi penser que seule une petite portion de cet univers infini est entrée en expansion à un moment donné de son histoire.
        </p>
        <p>
            Un fabuleux voyage à travers l'univers observable de la Terre jusqu'à la sphère de dernière diffusion dont nous parviennent aujourd'hui les plus vieux photons de l'univers. Toutes les distances sont à l'échelle et les objets sont représentés avec le plus d'exactitude possible.
        </p>
        <p>
            Taille de l'univers et rayonnement fossile
            En toute rigueur, tout ce que l'on peut dire c'est qu'au moins une portion spatiale d'un espace-temps s'est mis en expansion avec une vitesse dépassant celle de la lumière il y a 13,7 milliards d'années, avant de le faire à un rythme moins rapide bien avant sa première seconde d'existence.
            De sorte que les régions dont nous parvient aujourd'hui le fameux rayonnement fossile, les plus lointaines observables, sont à une distance d'environ 45,6 milliards d'années-lumière actuellement.
        </p>
        <img src="/images/shema.jpg" class="image me-4" alt="Ciel étoilé" style="width: 20%">
        <p>
            CE SCHÉMA MONTRE LA VRAIE DISTANCE ACTUELLE DES RÉGIONS AYANT ÉMIS LES PHOTONS DU RAYONNEMENT FOSSILE QUE NOUS OBSERVONS AUJOURD'HUI. L'UNIVERS OBSERVABLE AVEC LE RAYONNEMENT FOSSILE EST DONC UNE SPHÈRE D'UN RAYON DE 45,6 MILLIARDS D'ANNÉES-LUMIÈRE. LE RAYON DE LA SPHÈRE VERTE, CORRESPONDANT AUX PLUS LOINTAINES GALAXIES OBSERVÉES PAR HUBBLE, EST PLUS PETIT. EN BLEU, C'EST LA SPHÈRE DONT LE RAYON INDIQUE LA FORMATION DES PREMIÈRES ÉTOILES, PEU DE TEMPS APRÈS LE DÉBUT DES ÂGES SOMBRES.
        </p>
        <p>
            Au final, la seule chose que nous sachions est que la taille de l'univers observable est d'au moins quelques dizaines de milliards d'années-lumière mais nous ne savons pas si l'univers total lui-même est fini, comme le pensent Stephen Hawking et Jean-Pierre Luminet, ou infini comme le pensent Roger Penrose et d'autres chercheurs.
        </p>
    </main>
{% endblock %}