<div class="container mt-2 mb-5 ms-4">
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.message, 'Ajouter un commentaire') }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control mb-4', 'cols': 50, 'rows': 10, 'required': 'required'}}) }}
            <button type="submit" class="btn btn-warning mb-3">Répondre</button>
        </div>
    {{ form_end(form) }}
</div>