{% extends 'base.html.twig' %} {# Extends the "base" file witch contains the header, the navbar, the footpage for exemple. #}
{% block title %}Description des catégories d'étoiles existantes{% endblock %}

{% block body %}
    <main class="container mt-5">
        <img src="/images/stars/yellow/image2.jpg" class="image ms-4 me-4 " alt="étoile" style="width: 100%; height: 300px">
        <h1 class="mt-5">Les différentes catégories d'étoiles</h1>
        <p>
            Les astronomes classent les étoiles en utilisant la température effective et la luminosité. Cette classification à deux paramètres permet de définir des types spectraux (luminosité) variant de VI à I, les naines étant classées V. Le Soleil est de classe V. Parmi ces classes on distingue différentes catégories liées à la température de surface.
        </p>
        <p>
            Par exemple les :
        </p>

        <ul>
            <li>Naines brunes,</li>
            <li>Naines rouges,</li>
            <li>Naines jaunes,</li>
            <li>Géantes rouges,</li>
            <li>Géantes bleues,</li>
            <li>Supergéantes rouges,</li>
            <li>Naines blanches,</li>
            <li>Etoiles à neutrons</li>
            <li>Trous noirs</li>
        </ul>

        <p>
            Si la plupart des étoiles se placent facilement dans l'une ou l'autre de ces catégories, il faut garder en tête qu'il ne s'agit que de phases temporaires. Au cours de son existence, une étoile change de forme et de couleur, et peut passer d'une catégorie à une autre.
        </p>

        <h3 class="mt-5">Naines Rouges</h3>
        <div class="d-flex mt-5">
            <img src="/images/stars/red/image7.jpg" class="image ms-4 me-4 image_stars" alt="étoile naine rouge">
            <p>
                Les naines rouges sont de petites étoiles rouges. On les considère comme les plus petites étoiles en tant que telles. Les astres plus petits comme les naines blanches, les étoiles à neutrons et les naines brunes ne consomment pas de carburant nucléaire. La masse des naines rouges est comprise entre 0,08 et 0,8 masse solaire. Leur température de surface entre 2 500 et 5 000 K leur confère une couleur rouge. Les moins massives d'entre elles (au-dessous de 0,35 masse solaire environ) sont entièrement convectives. Ces étoiles brûlent lentement leur carburant, ce qui leur assure une très longue existence. Elles sont les plus abondantes : au moins 80 % des étoiles de notre Galaxie sont des naines rouges.
                La plus proche voisine du Soleil, Proxima du Centaure, en est une. Il en est de même du second système stellaire, le plus proche système solaire, l'étoile de Barnard est aussi une naine rouge.
            </p>
        </div>

        <h3 class="mt-5">Naines Brunes</h3>
        <p>
            Les naines brunes sont des étoiles, ou plutôt, ce sont des étoiles « manquées ». Leur masse est située entre celles des petites étoiles et des grosses planètes. En effet, au moins 0,08 masse solaire est nécessaire pour qu'une proto-étoile amorce des réactions thermonucléaires et devienne une véritable étoile. Les naines brunes ne sont pas suffisamment massives pour démarrer ces réactions. Elles peuvent rayonner cependant faiblement par contraction gravitationnelle.
        </p>

        <h3 class="mt-5">Naines Jaunes</h3>
        <div class="d-flex mt-5">
            <p>
                Les naines jaunes sont des étoiles de taille moyenne — les astronomes ne classent les étoiles qu'en naines ou en géantes. Leur température de surface est d'environ 6 000 K et elles brillent d'un jaune vif, presque blanc. À la fin de son existence, une naine jaune évolue en géante rouge, qui en expulsant ses couches externes — déployant alors une nébuleuse planétaire —, dévoile une naine blanche.
            </p>
            <img src="/images/stars/yellow/image12.jpg" class="image ms-4 me-4 image_stars" alt="étoile naine jaune">
        </div>
        <p>Le Soleil est une naine jaune typique.</p>

        <h3>Géantes Rouges</h3>
        <p>
            La phase géante rouge annonce la fin d'existence de l'étoile, qui atteint ce stade lorsque son noyau a épuisé son principal carburant, l'hydrogène : des réactions de fusion de l'hélium se déclenchent, tandis que le centre de l'étoile se contracte, et que ses couches externes gonflent, refroidissent et rougissent. Transformé en carbone et en oxygène, l'hélium s'épuise à son tour et l'étoile s'éteint. Les couches externes de l'astre s'éloignent et son centre se contracte, dévoilant une naine blanche.
        </p>

        <h3 class="mt-5">Géante bleue et supergéante rouge</h3>
        <div class="d-flex mt-5">
            <img src="/images/stars/blue/image7.jpg" class="image ms-4 me-4 image_stars" alt="étoile supergéante bleue">
            <div class="d-flex mt-5">
                <p>
                    Sur le diagramme HR, le coin supérieur gauche est occupé par des étoiles très chaudes et brillantes : les géantes bleues. Ces étoiles très massives, au moins dix fois plus grosses que le Soleil, consomment rapidement leur hydrogène.
                </p>
                <p>
                    Lorsque le noyau d'une géante bleue ne contient plus d'hydrogène, la fusion de l'hélium prend le relais. Ses couches externes enflent et sa température de surface diminue. Elle devient alors une supergéante rouge.
                </p>
                <p>
                    L'étoile fabrique ensuite des éléments de plus en plus lourds : fer, nickel, chrome, cobalt, titane… À ce stade, les réactions de fusion s'arrêtent et l'étoile devient instable. Elle explose en une supernova et laisse derrière elle un étrange noyau de matière qui demeurera intact et qui deviendra, selon sa masse, une étoile à neutrons ou un trou noir.
                </p>
            </div>
        </div>

        <h3 class="mt-5">Naines Blanches</h3>
        <div class="d-flex mt-5">
            <div class="d-flex flex-wrap mt-5">   
                <p>
                    Les naines blanches sont les résidus de l'évolution des étoiles de faible masse (entre ~0,8 et ~5 à 8 masses solaires). Le Soleil ayant (par définition) une masse d'une masse solaire, il finira aussi en naine blanche. Les naines blanches sont des étoiles « mortes » puisqu'elles ne sont plus le lieu de réactions thermonucléaires produisant de la chaleur. Cependant, elles sont initialement très chaudes et de couleur relativement blanche. Petit à petit, elles se refroidissent par rayonnement, pour devenir des astres froids. Leur taille est environ égale à celle de la Terre.
                </p>
                <p>
                    Les naines blanches, comme les étoiles à neutrons sont constituées de matière dégénérée. La densité moyenne d'une naine blanche est telle qu'une cuillère à thé de matière d'une telle étoile aurait, sur Terre, le poids d'un éléphant, soit environ 1 T⋅cm-3. En fait, dans cette matière, les électrons, étant très proches les uns des autres, commencent alors à se repousser énergiquement. Le facteur principal de la pression provient alors du principe d'exclusion de Pauli ; c'est la pression de dégénérescence qui s'oppose à celle de la gravitation. La naine blanche est donc en équilibre malgré l'absence de fusion nucléaire en son noyau. La pression des électrons peut supporter une masse de 1,44 fois celle du Soleil : c'est la limite de Chandrasekhar.
                </p>
                <p>
                    Si une naine blanche devient plus massive (en aspirant la matière d'une autre étoile, par exemple), elle explose en supernova et est largement pulvérisée en nébuleuse. C'est le type des supernovas thermonucléaires.
                </p>
                <p>
                    Procyon B et Sirius B sont des naines blanches.
                </p>
            </div>
            <img src="/images/stars/white/image6.jpg" class="image ms-4 me-4 image_stars" alt="étoile naine blanche">
        </div>

        <h3 class="mt-5">Naines Noires</h3>
        <p>
            Comme une plaque chauffante qu'on éteint, les naines blanches se refroidissent inexorablement. Toutefois, cela se fait très lentement, en raison de leur masse. Elles perdent peu à peu leur éclat et deviennent invisibles au bout d'une dizaine de milliards d'années. Ainsi, toute naine blanche se transforme en naine noire.
        </p>
        <p>
            L'Univers, vieux de 13,7 milliards d'années, est encore trop jeune pour avoir produit des naines noires.
        </p>
        <p>
            Après sa mort, le Soleil deviendra une naine blanche puis une naine noire. Ce sort l'attend dans environ 15 milliards d'années.
        </p>

        <h3 class="mt-5">Étoile à neutrons et trou noir</h3>
        <p>
            Les étoiles à neutrons sont très petites mais très denses. Elles concentrent la masse d'une fois et demi celle du Soleil dans un rayon d'environ 10 kilomètres. Ce sont les vestiges d'étoiles très massives de plus de 10 masses solaires dont le cœur s'est contracté pour atteindre des valeurs de densité extraordinairement élevées, comparables à celles du noyau atomique.
        </p>
        <p>
            Lorsqu'une étoile massive arrive en fin de vie, elle s'effondre sur elle-même, en produisant une impressionnante explosion appelée supernova. Cette explosion disperse la majeure partie de la matière de l'étoile dans l'espace tandis que le noyau se contracte et se transforme en une étoile à neutrons. Ces objets possèdent des champs magnétiques très intenses (pour les plus intenses, on parle de magnétar). Le long de l'axe magnétique se propagent des particules chargées, électrons par exemple, qui produisent un rayonnement synchrotron.
        </p>
        <p>
            Le moment cinétique de l'étoile étant conservé lors de l'effondrement du noyau, l'étoile à neutrons possède une vitesse de rotation extrêmement élevée, pouvant atteindre le millier de tours par seconde. Si par chance un observateur sur Terre regarde dans la direction d'une étoile à neutrons et que la ligne de visée est perpendiculaire à l'axe de rotation de l'étoile, celui-ci verra alors le rayonnement synchrotron des particules chargées se déplaçant sur les lignes de champ magnétique. Ce phénomène de phare tournant s'appelle le phénomène de pulsar. On trouve des pulsars dans des restes de supernovas, le plus célèbre étant le pulsar de la nébuleuse du Crabe, né de l'explosion d'une étoile massive. Cette supernova fut observée par les astronomes chinois depuis le matin du 4 juillet 1054, en plein jour pendant trois semaines et durant la nuit pendant près de deux ans.
        </p>

        <p>Parfois, le noyau de l'étoile morte est trop massif pour devenir une étoile à neutrons. Il se contracte inexorablement jusqu'à former un trou noir.</p>

            <h3 class="mt-5">Étoile variable</h3>
        <div class="d-flex mt-5">
            <img src="/images/stars/variable.jpg" class="image ms-4 me-4 image_stars" alt="étoile variable">
            <p>Alors que la plupart des étoiles sont de luminosité presque constante, comme le Soleil qui ne possède pratiquement pas de variation mesurable (environ 0,1 % sur un cycle de 11 ans), la luminosité de certaines étoiles varie de façon perceptible sur des périodes de temps beaucoup plus courtes, parfois de façon spectaculaire.</p>
        </div>


        <h3 class="mt-5">Diagramme des différents types d'étoiles en fonction de leur température</h3>
        <img src="/images/stars/diagram.jpg" class="image ms-4 me-4" alt="étoile diagramme température d'étoiles">
    </main>
{% endblock %}